<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title data-i18n-title="index.title">Mapa Aparkt</title>
    <link rel="stylesheet" type="text/css" href="../estilosGlobales.css" />
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.20.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.20.0/mapbox-gl.js"></script>
    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script src="../validacionVehiculo.js"></script>
    <script src="index.js" type="module"></script>
    <script src="../components/HeaderMap.js"></script>
  </head>
  <body>
    <header-map></header-map>
    <perfil-usuario></perfil-usuario>
    <div id="mapa"></div>
    
    <div id="interactividad">
      <button id="mostrarEstadosAparcamientos">
        Mostrar estados aparcamientos
      </button>
    </div>
    <script src="../modoOscuro.js"></script>
  </body>
</html>
